<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between none" >
    <button mat-flat-button color="primary">KubeCtxMgmt</button>
    <button mat-flat-button color="primary"><a href="https://github.com/poduo-studio/KubeCtxMgmt">GitHub</a></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Loading">
    <textarea style="width:99%; height: 80vh" rows="30" [(ngModel)]="yamlText"></textarea>
    <br>
    <button mat-raised-button color="primary" (click)="onLoad()">Load</button>
    <button mat-raised-button color="warn" (click)="onDump()">Dump</button>
    <br></mat-tab>
  <mat-tab label="Contexts">
    <span fxLayout="row">
      <span [formGroup]="formGroup" fxFlex="40">
        <div fxLayout="column" formArrayName="contexts">
          <span *ngFor="let item of contexts.controls; let i=index" [formGroupName]="i">
            <h2 (click)="onSelectContext(item)">{{ item.value.name }}</h2>
          </span>
        </div>
      </span>
      <div *ngIf="selectedContext" [formGroup]="selectedContext" fxFlex="60">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <br/>
        <span formGroupName="context">
          <mat-form-field appearance="fill">
            <mat-label>context.cluster</mat-label>
            <mat-select formControlName="cluster">
              <mat-option [value]="item.value.name" *ngFor="let item of clusters.controls">{{item.value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>context.user</mat-label>
            <mat-select formControlName="user">
              <mat-option [value]="item.value.name" *ngFor="let item of users.controls">{{item.value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>context.namespace</mat-label>
            <input matInput formControlName="namespace">
          </mat-form-field>
          <br/>
        </span>
        <mat-divider></mat-divider>
      </div>
    </span>
  </mat-tab>
  <mat-tab label="Clusters">
    <span fxLayout="row">
      <span [formGroup]="formGroup" fxFlex="40">
        <div fxLayout="column" formArrayName="clusters">
          <span *ngFor="let item of clusters.controls; let i=index" [formGroupName]="i">
            <h2 (click)="onSelectCluster(item)">{{ item.value.name }}</h2>
          </span>
        </div>
      </span>
      <div *ngIf="selectedCluster" [formGroup]="selectedCluster" fxFlex="60">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" formGroupName="cluster">
          <mat-label>cluster.server</mat-label>
          <input type="text" matInput formControlName="server">
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" formGroupName="cluster">
          <mat-label>cluster.certificate-authority-data</mat-label>
          <textarea matInput formControlName="certificate-authority-data" rows="8" cols="50"></textarea>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" formGroupName="cluster">
          <mat-label>cluster.certificate-authority</mat-label>
          <textarea matInput formControlName="certificate-authority" rows="8" cols="50  "></textarea>
        </mat-form-field>
      </div>
    </span>
  </mat-tab>
  <mat-tab label="Users">
    <span fxLayout="row">
      <span [formGroup]="formGroup" fxFlex="40">
        <div fxLayout="column" formArrayName="users">
          <span *ngFor="let item of users.controls; let i=index" [formGroupName]="i">
            <h2 (click)="onSelectUser(item)">{{ item.value.name }}</h2>
          </span>
        </div>
      </span>
      <div *ngIf="selectedUser" [formGroup]="selectedUser" fxFlex="60">
        <mat-icon>user</mat-icon>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <br/>
        <span formGroupName="cluster">
          <mat-form-field appearance="fill">
            <mat-label>user.client-certificate-data</mat-label>
            <textarea matInput formControlName="client-certificate-data" rows="8" cols="50"></textarea>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>user.client-certificate</mat-label>
            <input matInput formControlName="client-certificate"/>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>user.client-key-data</mat-label>
            <textarea matInput formControlName="client-key-data" rows="8" cols="50"></textarea>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>user.client-key</mat-label>
            <input matInput formControlName="client-key"/>
          </mat-form-field>
        </span>
      </div>
    </span>
  </mat-tab>
</mat-tab-group>
