<textarea cols="200" rows="10" [(ngModel)]="yamlText"></textarea>
<br>
<button mat-raised-button color="primary" (click)="onLoad()">Load</button>
<button mat-raised-button color="warn" (click)="onDump()">Dump</button>
<br>
<mat-grid-list cols="3" rowspan="6">
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>Clusters</div>
      <mat-list-item *ngFor="let cluster of clusters">
        <mat-icon mat-list-icon>cluster</mat-icon>
        <div mat-line>name: {{cluster?.name}}</div>
        <div mat-line>server: {{cluster?.cluster?.server}}</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>Contexts</div>
      <mat-list-item *ngFor="let context of contexts">
        <mat-icon mat-list-icon>context</mat-icon>
        <div mat-line>name: {{context?.name}}</div>
        <div mat-line>cluster: {{context?.context?.cluster}}</div>
        <div mat-line>namespace: {{context?.context?.namespace}}</div>
        <div mat-line>user: {{context?.context?.user}}</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>Users</div>
      <mat-list-item *ngFor="let user of users">
        <mat-icon mat-list-icon>user</mat-icon>
        <div mat-line>name: {{user?.name}}</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
